
*{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
    list-style: none;
    list-style-type: none;
    background-color: blue;
}



body p{
    color: black;
    font-weight: normal;
    font-size: 20px;

}

body label{
    font-size: 40px;
    font-style: normal;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: rgb(70, 70, 128)
    
}
nav{
    text-decoration-line: none;   
    color:slateblue;
    background-color: white;
    position: top;
    margin-left: auto;
    width:100%;
   
    
}


nav ul li
{
    display:inline-block;
    margin: 0 px;
    line-height: 60px ;
}

nav ul li a{
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
}


a.home:hover, a.Services:hover, a.Feed:hover, a.Help:hover    /*link edits*/
{ 
background-color: white;
color:blue;
text-decoration: none;
border-style:none ;
border-radius: 1px;
position: relative;
}






